.todo-list {
    max-width: 350px;
    margin: 100px auto;
    font-size: 15px;
}

.todo-list ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.todo-list li {
    border: 1px solid #eee;
    padding: 5px;
    margin: 2px 0;
}

.todo-title {
    margin: 0 5px;
}

.edit-icon-button {
    padding: 0;
}

.delete-icon-button {
    padding: 0 0 0 5px;
}

.complete {
    text-decoration: line-through;
}

.complete .todo-title{
    opacity: 0.7;
}

.loading {
    opacity: 0.4;
}
